<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<html>
	<head>
		<title>Your profile!</title>
		<style>
		    ul {
              list-style-type: none;
            }
		</style>
	</head>
	<body>
		Welcome back <strong>{{username}}</strong>!
		<a href="{{ url_for("login.unlogger") }}">click here to logout</a>
        <form action="" method="post">
            Title:  <input type="text" name="title" />
            <br />
            Body:  <input type="text" name="body" />
            <br />
            <input type="submit" name="submit" />
        </form>
        <ul>
            {% if post %}
            {% for post, value in posts.items() %}
                    {% with value = value, username = username, posts = posts %}
                    {% include "profile/post.html"%}
                    {% endwith %}

            {% endfor %}
            {% endif %}
        </ul>
	</body>

</html>